*{
    box-sizing:border-box;
    outline:0;
    margin:0;
    padding:0
}


body{
    background-color: #282a36;		
    text-align: center;
    color: #f8f8f2;
    font-family: sans-serif;
    
    
}

h1{
    margin-bottom: 40px;
    margin-top: 30px;
}

h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

.card{
    display:flex;
    margin: 0 auto;
    background:#eee;
    border-radius: 4px;
    max-width:900px;
    padding:5px;
    color: #222;
    height:500px;
    
}

.controle{
    width: 45%;
    border-right: 1px solid #999;
    display: flex;
    flex-direction: column;
    padding:5px
    
}

.resultado{
    display:flex;
    flex-direction:column; 
    width: 55%;
    height: 100%;
    padding:5px;
}

select{
    border-radius: 4px;
    outline: inherit;
    border: 1px solid #999;
    height: 30px;
    width: 200px;
    padding: 5px;
    display:block;
    align-self: center;
    margin: 15px 0
  
}

input[type="button"]{
    border-radius:4px;
    border: 0;
    background:#282a36;
    font-weight: bold;
    font-size: 12px;
    height:35px;
    width:100px;
    padding:5px;
    margin:5px;
    color:white;
    transition: opacity 0.2s;
    

  }
  

input[type="button"]:hover{
   opacity:0.9;

}
  


.input-buttons{
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}

.boxes1{
    display:flex;
    height: 100%;
    padding-bottom:5px;
    
}

.boxes1 :nth-child(1){
    background: #4592BF;
    height: 80px;
    width: 80px;
    
}
.boxes1 :nth-child(2){
    background:#306685;
    height: 80px;
    width: 80px;
    

}
.boxes1 :nth-child(3){
    background: #5CC3FF;
    height: 80px;
    width: 80px;
    
}

.boxes1 :nth-child(4){
    background: #173140;
    height: 80px;
    width: 80px;
    
}

.output{
    background: #282a36;    
    border-radius:3px;
    height: 30%;
    color: #f8f8f2;
    padding:10px;
    text-align: left;
}

.result{
    color:#50fa7b
}

.code-justify-content , .code-align-items , .code-flex-direction , .code-display-flex{
    color: #8be9fd;
}

.double-dot{
    color:#ff79c6
}

.code-justify-result, .code-align-result, .code-direction-result , .code-display-result{
    color:#bd93f9;
    
}
footer{
    margin: 20px;
    font-size:25px;
}
a{
    text-decoration: none;
    color: #4592BF;
    transition: 0.3;
    position:relative;
    font-weight: bold;
}



 footer > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: rgb(0, 211, 25);
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .3s ease-in-out;
  }
  footer >a:hover:before, a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  }

  input[value="initial"]{
      background: #BF1E2C ;
  }
  @media (max-width:830px){
    .card{
        flex-direction: column;
        height: 900px;
        width: 75vw;
        
    }
    .controle{
        width:100%;
        border-right:0;
        border-bottom: 1px solid #999;
    }
    .resultado{
        width:100%;
    }
    .boxes1 :nth-child(1){
        background: #4592BF;
        height: 50px;
        width: 50px;
        
    }
    .boxes1 :nth-child(2){
        background:#306685;
        height: 50px;
        width: 50px;
        
    
    }
    .boxes1 :nth-child(3){
        background: #5CC3FF;
        height: 50px;
        width: 50px;
        
    }
    
    .boxes1 :nth-child(4){
        background: #173140;
        height: 50px;
        width: 50px;
        
    }
    .output{
        font-size: 12px;
    }
}

/* The side navigation menu */
.sidenav {
  height: 100%; 
  width: 250px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: -250px;
  display:flex;
  flex-direction:column;
  background-color: #eee; 
box-shadow: 2px 14px 7px 0px rgba(0, 0, 0, 0.2);
  overflow-x: hidden; 
  padding-top: 50px; 
  transition: 0.5s; 
}

.sidenav span {
  color: #666;
  display: block;
  padding: 0 10px;
  border-radius:0 50px 50px 0;
  line-height:2em;
  text-align:start;
  
  transition: 0.3s;
}
.sidenav h2{
  color: #666;
  margin-bottom:20px
  
}
.nav-subtitle{
  color: #666;
  padding-bottom: 5px;
  align-self: center;
  width:90%;
  border-bottom:1px solid #999;
}
.nav-content{
  padding-top: 10px ;
  padding-right:10px;
}
.sidenav span:hover{
  background:#dbdbdb;
  
  
  
}



.sidebar-button{
  background:transparent;
  border:0;
  top: 5px;
  left: 5px;
  z-index:3;
  position:absolute;
  transition:0.3s ease-out;
  transition-delay:0.3s;
}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.2s;
  transition-delay:0.6s;

}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background:#333;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    background:#333;

  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}